*{
    margin:0;
    padding:0;
}
body{
    background-image: url("https://images.unsplash.com/photo-1494253109108-2e30c049369b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGxhaW4lMjBjb2xvciUyMGltYWdlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}
.container{
    background-image: url("https://media.istockphoto.com/photos/white-wood-surface-natural-texture-background-picture-id1267047371?b=1&k=20&m=1267047371&s=170667a&w=0&h=wGIlh_VToQiWxdaQzcvGq3TDKjRGpnNl1gWdyviAYOE=");
    height:800px;
    width:65%;
    border-radius:10px;
    margin:auto;
}
.container h1{
    text-align:center;
    position:relative;
    font-size:110px;
    color:brown;
    margin-top:80px;
    padding-top: 50px;
}
.container ul{
    list-style: circle;
    color:grey;
    margin-left: 35%;
    position:relative;
    font-weight:bold;
    font-size:90px;
    padding-top:20px
}
.container ul li{
    margin: auto;
    position:relative;
    padding-top: 90px;
}